<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Disease Predictor</title>
  <link href="./static/css/Team.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <h2 class="logo"> Disease Predictor</h2> <!--Our logo-->
    <nav class="navigation">  <!--nav links-->
      <a href="/home">About</a>
      <a href="/calculator">Predictor</a>
      <a href="/team">Team</a>  
      <button class="login" onclick="SameTab()"> 
          Logout 
      </button> 

      <script> 
          function SameTab() { 
              window.location.href = 
                  "/"; 
          } 
      </script> <!--redirects to login page-->
    </nav>
  </header>
  <!--end of nav bar code-->
  <!--beginning of content-->

  <section class='title'>
  <h2>About</h2>
  </section>
  
  <section class="main">
    <div class="full-box">
      <div class="comment-box">
        <div class="box-top">
          <div class="profile">
            <div class="name">
              <strong> Karthik S Bhat</strong>
              <span> karthik.21bce7737@vitapstudent.ac.in</span>
            </div>
          </div>
        </div>
      </div>
      <div class="comment-box">
        <div class="box-top">
          <div class="profile">
            <div class="name">
              <strong> Goutham Vivekanand</strong>
              <span> vivekanand.21bcb7049@vitapstudent.ac.in</span>
            </div>
          </div>
        </div>
       
      </div>
      <div class="comment-box">
        <div class="box-top">
          <div class="profile">
            <div class="name">
              <strong> Chetan Varma</strong>
              <span> chetanvarma.21bce7252@vitapstudent.ac.in</span>
            </div>
          </div>
        </div>
     
      </div>
      <div class="comment-box">
        <div class="box-top">
          <div class="profile">
            <div class="name">
              <strong> Manoj Reddy </strong>
              <span> manoj.21bce8602@vitapstudent.ac.in</span>
            </div>
          </div>
        </div>
      
      </div>

    </div>
  </section>
  <!-- </div> -->
  <script src="script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>